@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply pb-16 bg-gray-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

a {
  @apply text-blue-500;
}

p {
  @apply mb-6 leading-relaxed text-gray-600;
}

.container {
  @apply w-10/12 mx-auto;
}
